body {
    --table-width: 100%; /* Or any value, this will change dinamically */
}
tbody {
    display: block;
    height: 600px;
    max-height: 600px;
    overflow-y: auto;
}

    thead, tbody tr {
        display: table;
        width: 100%;
        table-layout: fixed;
    }

thead {
    width: 100%;
}

.puntero {
    cursor: pointer;
}
