@page
@model SysDVW.Pages.Security.forgot_passwordModel
@{
    Layout = "_LayoutFullScreen";
}
<div class="login-box">
    <div class="login-logo">
        <b>Sistema de Venta e Inventario</b>
    </div>@*type="email"*@
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <span class="text-danger text-center">@Html.ValidationMessage("CustomError")</span>
            <p class="login-box-msg">Olvidaste tu Clave? Aqui facilmente puedes consegui una nueva.</p>
            <form asp-page-handler="ForgotPassword" method="post">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" asp-for="Check.UserName" placeholder="Correo">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-envelope"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Solicitar Nueva Clave</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a asp-page="/Security/login">Ir al Inicio de sesion</a>
            </p>
            <p class="mb-0">
                <a asp-page="/Security/register" class="text-center">Deseas Registrarte?</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>