@page
@model SysDVW.Pages.Security.recover_passwordModel
@{
    Layout = "_LayoutFullScreen";
}
<div class="login-box">
    <div class="login-logo">
        <b>Sistema de Venta e Inventario</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="card-body login-card-body">
            <span class="text-danger text-center">@Html.ValidationMessage("CustomError")</span>
            <p class="login-box-msg">You are only one step a way from your new password, recover your password now.</p>
            <form asp-page-handler="Recover" method="post">
                <div class="input-group mb-3">
                    <input type="password" class="form-control" asp-for="Recovering.Password" placeholder="Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="input-group mb-3">
                    <input type="password" class="form-control"asp-for="Recovering.ConfirmPassword" placeholder="Confirm Password">
                    <div class="input-group-append">
                        <div class="input-group-text">
                            <span class="fas fa-lock"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block">Cambiar contraseña</button>
                    </div>
                    <!-- /.col -->
                </div>
            </form>

            <p class="mt-3 mb-1">
                <a asp-page="/Security/login" class="btn btn-success">Ir al Inicio de sesion</a>
            </p>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
