@page
@model SysDVW.Pages.Security.Recover_successModel
@{
    Layout = "_LayoutFullScreen";
}
<div class="login-box">
    <div class="login-logo">
        <b>Sistema de Venta e Inventario</b>
    </div>
    <!-- /.login-logo -->
    <div class="card">
        <div class="row justify-content-center">
            <div class="col-md-12 ml-4">
                <div class="card-group">
                    <div class="card p-5 text-center">
                        <h4 class="mb-2  mt-xl-5">Confirmacion de restablecimiento de contraseña</h4>
                        <p class="mb-xl-5">
                            Tu contraseña ha sido restablecida. Por favor <a asp-page="/Security/Login"> Ir Al Inicio de Sesion</a>.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <!-- /.login-card-body -->
    </div>
</div>
